.App {
    text-align: center;
}

.App-logo {
    height: 100px;
    width: 180px;
    pointer-events: none;
}
.App-logo1 {
    height: 10px;
    width: 500px;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation:  App-logo-spin infinite 2s step-start;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo1 :hover{
        animation:  App-logo-spin infinite 2s step-start;
        transform: rotate(34);
    }
}

.App-header {
    background-color: #fcfdfe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.btn {
    width: 180px;
    height: 45px;
    position: absolute;
    top: 320px;
    right: -140px;
    background-color: #35BDCF;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.btn:hover {
    right: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
